* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Akziden';
  src: url(../fonts/AkzidenzGroteskPro-Regular.eot);
  src: url(../fonts/AkzidenzGroteskPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/AkzidenzGroteskPro-Regular.otf) format("otf"), url(../fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular) format("svg"), url(../fonts/AkzidenzGroteskPro-Regular.ttf) format("truetype"), url(../fonts/AkzidenzGroteskPro-Regular.woff) format("woff"), url(../fonts/AkzidenzGroteskPro-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'bebas';
  src: url(../fonts/bebas_neue_regular.eot);
  src: url(../fonts/bebas_neue_regular.eot?#iefix) format("embedded-opentype"), url(../fonts/bebas_neue_regular.otf) format("otf"), url(../fonts/bebas_neue_regular.svg#bebas_neue_regular) format("svg"), url(../fonts/bebas_neue_regular.ttf) format("truetype"), url(../fonts/bebas_neue_regular.woff) format("woff"), url(../fonts/bebas_neue_regular.woff2) format("woff2");
}

@font-face {
  font-family: 'PTSans';
  src: url(../fonts/PTSans-Regular.eot);
  src: url(../fonts/PTSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/PTSans-Regular.otf) format("otf"), url(../fonts/PTSans-Regular.svg#PTSans-Regular) format("svg"), url(../fonts/PTSans-Regular.ttf) format("truetype"), url(../fonts/PTSans-Regular.woff) format("woff"), url(../fonts/PTSans-Regular.woff2) format("woff2");
}

.text {
  font-family: 'PTSans';
}

.textN {
  font-family: 'Akziden';
}

.textB {
  font-family: 'bebas';
}
