* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Akziden';
  src: url(../fonts/AkzidenzGroteskPro-Regular.eot);
  src: url(../fonts/AkzidenzGroteskPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/AkzidenzGroteskPro-Regular.otf) format("otf"), url(../fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular) format("svg"), url(../fonts/AkzidenzGroteskPro-Regular.ttf) format("truetype"), url(../fonts/AkzidenzGroteskPro-Regular.woff) format("woff"), url(../fonts/AkzidenzGroteskPro-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'bebas';
  src: url(../fonts/bebas_neue_regular.eot);
  src: url(../fonts/bebas_neue_regular.eot?#iefix) format("embedded-opentype"), url(../fonts/bebas_neue_regular.otf) format("otf"), url(../fonts/bebas_neue_regular.svg#bebas_neue_regular) format("svg"), url(../fonts/bebas_neue_regular.ttf) format("truetype"), url(../fonts/bebas_neue_regular.woff) format("woff"), url(../fonts/bebas_neue_regular.woff2) format("woff2");
}

@font-face {
  font-family: 'PTSans';
  src: url(../fonts/PTSans-Regular.eot);
  src: url(../fonts/PTSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/PTSans-Regular.otf) format("otf"), url(../fonts/PTSans-Regular.svg#PTSans-Regular) format("svg"), url(../fonts/PTSans-Regular.ttf) format("truetype"), url(../fonts/PTSans-Regular.woff) format("woff"), url(../fonts/PTSans-Regular.woff2) format("woff2");
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
}

.header__tobot {
  background-color: #fff;
  padding: 29px 0 33px 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__burger {
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
}

.header-top__burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  top: 9px;
  left: 0;
}

.header-top__burger span:first-child {
  top: 0;
}

.header-top__burger span:last-child {
  top: 100%;
}

.header-top__link {
  font-size: 15px;
  color: #000;
  font-family: 'bebas';
  text-transform: uppercase;
  text-decoration: underline;
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'bebas';
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0 10px 0 0;
}

.active {
  background: #000;
  color: #fff;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10px 0 0 0;
}

.header-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.header-bottom-menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom-menu-list li {
  margin: 0 45px 0 0;
}

.header-bottom-menu-list li:last-child {
  margin: 0 0 0 0;
}

.header-bottom-menu-link {
  font-family: 'bebas';
  letter-spacing: 1.5px;
  color: #000;
  text-transform: uppercase;
  font-size: 15px;
}

.header-logo {
  display: block;
  text-align: center;
}

.header-logo__text {
  display: block;
  font-family: 'bebas';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}

@media (max-width: 768px) {
  .header__tobot {
    padding: 10px 0 12px 0;
    position: relative;
  }
  .header__contBurger {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    top: 0;
    left: -200%;
    padding: 120px 10px 10px 10px;
    overflow: auto;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .header__contBurger.activve {
    left: 0;
  }
  .header-top {
    position: relative;
    top: 30px;
  }
  .header-top__burger {
    display: block;
  }
  .header-top__burger span {
    -webkit-transition: all 1s ease 0.5s;
    transition: all 1s ease 0.5s;
  }
  .header-top__burger.activve span {
    height: 3px;
    -webkit-transform: scale(0);
            transform: scale(0);
    top: 8px;
  }
  .header-top__burger.activve span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header-top__burger.activve span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-top-lang {
    margin: 0 0 25px 0;
    padding: 0 0 0 25px;
  }
  .header-bottom {
    margin: -20px 0 0 0;
  }
  .header-bottom-menu_right {
    display: block;
  }
  .header-bottom-menu_right .header-bottom-menu-list li:last-child {
    margin: 0 0 0 0;
  }
  .header-bottom-menu-list {
    display: block;
  }
  .header-bottom-menu-list li {
    margin: 0 0 25px 0;
    padding: 0 0 0 25px;
  }
  .header-bottom-menu-list li:last-child {
    margin: 0 0 25px 0;
  }
  .header-logo {
    display: block;
    text-align: center;
  }
  .header-logo__image {
    display: inline-block;
    margin: 7px 0 12px 0;
    width: 165px;
    height: 40px;
  }
  .header-logo__img {
    max-width: 100%;
  }
}

@media (max-width: 490px) {
  .header-logo__image {
    margin: 2px 0 12px 0;
    width: 145px;
    height: 33px;
  }
}

@media (max-width: 412px) {
  .header .header-top {
    top: 19px;
  }
  .header__tobot {
    padding: 8px 0 10px 0;
  }
  .header__contBurger {
    padding: 110px 10px 10px 10px;
  }
  .header-bottom {
    margin: -20px 0 0 0;
  }
  .header-bottom__column:nth-child(2) {
    margin-left: -14px;
  }
  .header-bottom .header-logo__text {
    font-size: 8px;
  }
  .header-bottom .header-logo__image {
    margin: 2px 0 7px 0;
    width: 135px;
    height: auto;
  }
}

@media (max-width: 360px) {
  .header .container {
    padding: 0 6px;
  }
  .header .header-top {
    top: 10px;
  }
  .header__tobot {
    padding: 5px 0 11px 0;
  }
  .header__contBurger {
    padding: 90px 10px 10px 10px;
  }
  .header-bottom__column:nth-child(2) {
    margin-left: -20px;
  }
  .header-bottom .header-logo__text {
    font-size: 7px;
  }
  .header-bottom .header-logo__image {
    margin: 2px 0 7px 0;
    width: 100px;
  }
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.content {
  padding: 180px 0 0 0;
}

.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  margin: 0 0 75px 0;
}

.private__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.private__image {
  height: 100%;
}

.private-body {
  padding: 75px 0 75px 60px;
}

.private-body__title {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'bebas';
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}

.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0 0 50px 0;
}

.private-body-content {
  max-width: 305px;
}

.private-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: 'bebas';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #000;
  color: #fff;
}

.btn_w {
  background-color: #fff;
  color: #000;
}

.link {
  font-family: 'bebas';
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  text-decoration: underline;
  margin: 0 0 0 15px;
  letter-spacing: 1.5px;
}

.link_w {
  color: #fff;
}

@media (max-width: 768px) {
  .content {
    padding: 101px 0 0 0;
  }
  .private-body {
    padding: 35px 10px 35px 40px;
  }
  .private-body__title {
    font-size: 35px;
    margin: 0 0 20px 0;
  }
  .private-body__text {
    font-size: 12px;
    margin: 0 0 30px 0;
  }
  .private-body-content {
    max-width: 240px;
  }
}

@media (max-width: 550px) {
  .private__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .private__column:first-child {
    display: none;
  }
  .private-body {
    padding: 25px 10px 35px 20px;
  }
}

@media (max-width: 490px) {
  .content {
    padding: 89px 0 0 0;
  }
}

@media (max-width: 412px) {
  .content {
    padding: 77.38px 0 0 0;
  }
}

@media (max-width: 360px) {
  .content {
    padding: 64.47px 0 0 0;
  }
}

.products {
  margin: 0 0 40px 0;
}

.products__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0 0 40px 0;
}

.products-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.products-item__image {
  display: block;
  padding: 0 0 105.885% 0;
  margin: 0 0 25px 0;
}

.products-item__title {
  max-width: 170px;
  padding: 0 10px 0 0;
  display: block;
  font-family: 'bebas';
  font-size: 25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 30px 0;
  font-weight: 800;
}

.products-item__text {
  max-width: 185px;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 25px 0;
  padding: 0 10px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.products-item__btn {
  margin: 0 0 29px 0;
}

@media (max-width: 640px) {
  .products-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products {
    margin: 0;
  }
  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 0 30px 0;
  }
  .private {
    margin: 0 0 40px 0;
  }
  .products-item__image {
    margin: 0 0 12px 0;
  }
  .products-item__title {
    margin: 0 0 15px 0;
  }
  .products-item__text {
    margin: 0 0 13px 0;
  }
  .products-item__btn {
    margin: 0 0 16px 0;
  }
}

@media (max-width: 320px) {
  .private {
    margin: 0 0 20px 0;
  }
  .products__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 0 20px 0;
  }
  .products-item__image {
    max-width: none;
    margin: 0 0 8px 0;
  }
  .products-item__title {
    max-width: none;
    margin: 0 0 9px 0;
  }
  .products-item__text {
    margin: 0 0 6px 0;
  }
  .products-item__btn {
    margin: 0 0 10px 0;
  }
}

.why-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}

.why-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.why-top__text {
  text-align: right;
  color: #fff;
  font-family: 'bebas';
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 50px 60px 50px 0;
}

.why-top__image {
  height: 100%;
}

.why-body {
  background-color: #ebebeb;
  padding: 50px 0 0 0;
}

.why-body__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 0 50px 0;
}

.why-body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-body-item__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  background: #000;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-body-item-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 10px 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-body-item-body__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 25px;
  font-family: 'bebas';
  letter-spacing: 2.5px;
  font-weight: 900;
}

.why-body-item-body__text {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Akziden';
}

@media (max-width: 870px) {
  .why-top__text {
    font-size: 40px;
    padding: 40px 10px 40px 0;
  }
}

@media (max-width: 670px) {
  .why-top__text {
    font-size: 30px;
    padding: 30px 10px 30px 0;
  }
}

@media (max-width: 630px) {
  .why-top__text {
    font-size: 20px;
    padding: 20px 5px 20px 0;
  }
  .why-body {
    padding: 30px 0 0 0;
  }
  .why-body__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 380px) {
  .why-top__text {
    font-size: 14px;
    padding: 10px 3px 10px 0;
  }
  .why-top__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .why-body {
    padding: 20px 0 0 0;
  }
  .why-body__column {
    margin: 0 0 20px 0;
  }
  .why-body-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .why-body-item__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    background: #000;
    height: 80px;
  }
  .why-body-item-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 10px 0 11px;
  }
  .why-body-item-body__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 15px;
    font-family: 'bebas';
    letter-spacing: 2px;
    font-weight: 700;
  }
  .why-body-item-body__text {
    font-size: 12px;
    line-height: 15px;
    font-family: 'Akziden';
  }
}
