@import "_nullStyle";
@font-face {
    font-family: 'Akziden';
    src: url(../fonts/AkzidenzGroteskPro-Regular.eot);
    src: url(../fonts/AkzidenzGroteskPro-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/AkzidenzGroteskPro-Regular.otf) format('otf'),
        url(../fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular) format('svg'),
        url(../fonts/AkzidenzGroteskPro-Regular.ttf) format('truetype'),
        url(../fonts/AkzidenzGroteskPro-Regular.woff) format('woff'),
        url(../fonts/AkzidenzGroteskPro-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'bebas';
    src: url(../fonts/bebas_neue_regular.eot);
    src: url(../fonts/bebas_neue_regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/bebas_neue_regular.otf) format('otf'),
        url(../fonts/bebas_neue_regular.svg#bebas_neue_regular) format('svg'),
        url(../fonts/bebas_neue_regular.ttf) format('truetype'),
        url(../fonts/bebas_neue_regular.woff) format('woff'),
        url(../fonts/bebas_neue_regular.woff2) format('woff2');
}
@font-face {
    font-family: 'PTSans';
    src: url(../fonts/PTSans-Regular.eot);
    src: url(../fonts/PTSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/PTSans-Regular.otf) format('otf'),
        url(../fonts/PTSans-Regular.svg#PTSans-Regular) format('svg'),
        url(../fonts/PTSans-Regular.ttf) format('truetype'),
        url(../fonts/PTSans-Regular.woff) format('woff'),
        url(../fonts/PTSans-Regular.woff2) format('woff2');
}


@import "_header";

body{
    &.lock{
        overflow: hidden;
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 880px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;

}
.ibg {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.content {
    padding: 180px 0 0 0;
}

.private {
display: flex;
background-color: #000;
    &__column {
        flex: 0 0 50%;
    }

    &__image {
        height: 100%;
    }
}

.ibg {}

.private-body {
padding: 75px 0 75px 60px;
    &__title {
        font-size: 50px;
        text-transform: uppercase;
        color: #fff;
         font-family: 'bebas';
        letter-spacing: 5px;
        margin: 0 0 30px 0;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        margin: 0 0 50px 0;
    }
}

.private-body-content {
    max-width: 305px;
}

.private-body-buttons {
display: flex;
align-items: center;
    &__item {}

    &__link {
         font-family: 'bebas';
         text-transform: uppercase;
         color: #fff;
         font-size: 15px;
         text-decoration: underline;
         margin: 0 0 0 15px;
         letter-spacing: 1.5px;
    }
}

.btn {
height: 50px;
line-height: 50px;
display: inline-block;
padding: 0 33px;
font-size: 15px;
font-family: 'bebas';
text-transform: uppercase;
letter-spacing: 1.5px;
background-color: #000;
color: #fff;
    &_w {
        background-color: #fff;
        color: #000;
    }
}








